* {
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
  color: white;
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 25%;
}

#logo {
  width: 100px;
}

.sidebar img {
  filter: invert(1);
}

.sidebar .sidebar-top,
.sidebar .sidebar-bottom {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  background-color: rgb(32, 31, 31);
}

.sidebar-top ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.sidebar-top ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar-top ul img,
.library img {
  width: 20px;
  margin-right: 8px;
}

.library img {
  width: 35px;
}

.sidebar-bottom {
   height: 100vh;
  }

.sidebar-bottom .library {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-top: 12px;
  padding: 10px;
}

.main-content {
  background-color: chartreuse;
  width: 75%;
}

.main-content .header {
  background-color: aqua;
}

.main-content .playlists-section {
  background-color: coral;
}
